body{
    background-color: #2f5b52;
}

.container{
    max-width: 500px;
}

input[type="text"], input[type="text"]:focus{
    color: white;
    border: none;
    background-color: rgba(251, 244, 244, 0.2);
    max-width: 500px;
}
input::placeholder{
    color: white;
}

.todos li{
    background-color:#47957d ;
}

.delete{
    cursor: pointer;
}
ul li{
    color: white;
}

i{
    color: #e5efff;
}

.filtered{
    display: none !important;
}